$color-primary: #415167;
$color-accent: #c7a17a;
$color-accent-light: #c7a17a;
$color-gray-dark: #151d28;
$color-gray-light: #edf0f5;

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Montserrat', sans-serif;