.heading-1 {
  font-size: 4vw;
  line-height: 1.2;
  font-family: $font-secondary;
  color: $color-primary;
  font-weight: 900;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 3rem;
  line-height: 1.1;
  font-family: $font-secondary;
  color: $color-primary;
  font-weight: 900;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 2.4rem;
  line-height: 1.1;
  font-weight: 700;
}

.heading-4 {
  font-size: 2rem;
  line-height: 1.2;
  color: $color-primary;
  font-weight: 600;
}

.accent {
  color: #fff;
  background-color: $color-accent;
  padding: .5rem 1.5rem;
  transform: translateX(-1.5rem);
  display: inline-block;
}